<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores mollitia iste molestias a eligendi
    accusantium!</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci odit dolores officia ratione asperiores
    laboriosam repudiandae iure beatae nemo blanditiis!</p>
</div>